## Data Scraping :

Data scraping, or web scraping, is the process of automatically collecting information from websites or online sources. It's used for various purposes like research, competitor analysis, and more. The process involves accessing a website, extracting specific data from it, and storing that data for analysis. It should be done ethically and within legal boundaries, and you should be aware of the website's terms of service and any anti-scraping measures in place. There are programming libraries and tools available to make web scraping easier. Always consider legal and ethical implications when scraping data from the web.

In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

The code extracts the list of S&P 500 company symbols from a Wikipedia page, downloads historical stock data for these companies from Yahoo Finance spanning eight years up to '2023-9-27', and structures the data into a DataFrame. It then applies the `describe()` function to provide summary statistics for the numerical columns in the DataFrame, offering insights into the historical performance of these S&P 500 companies.

In [3]:
sp500 = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

sp500['Symbol'] = sp500['Symbol'].str.replace('.', '-')

symbol_list = sp500['Symbol'].unique().tolist()

end_date = '2023-9-27'

start_date = pd.to_datetime(end_date) - pd.DateOffset(365 * 8)

dataframe = yf.download(tickers = symbol_list, 
                        start = start_date, 
                        end = end_date).stack()

dataframe.index_names = ['date', 'tickers']

dataframe.columns = dataframe.columns.str.lower()

dataframe

C:\Users\DELL\AppData\Local\Temp\ipykernel_7512\1802560761.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  sp500['Symbol'] = sp500['Symbol'].str.replace('.', '-')

[*********************100%%**********************]  503 of 503 completed

1 Failed download:
['VLTO']: Exception("%ticker%: Data doesn't exist for startDate = 1443499200, endDate = 1695787200")

C:\Users\DELL\AppData\Local\Temp\ipykernel_7512\1802560761.py:15: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  dataframe.index_names = ['date', 'tickers']

                  adj close       close        high         low        open  \
Date
2015-09-29 A      31.588043   33.740002   34.060001   33.240002   33.360001
           AAL    37.361622   39.180000   39.770000   38.790001   39.049999
           AAPL   24.748632   27.264999   28.377501   26.965000   28.207500
           ABBV   37.024639   52.790001   54.189999   51.880001   53.099998
           ABT    33.807274   39.500000   40.150002   39.029999   39.259998
...                     ...         ...         ...         ...         ...
2023-09-26 YUM   124.010002  124.010002  124.739998  123.449997  124.239998
           ZBH   112.216316  112.459999  117.110001  112.419998  116.769997
           ZBRA  223.960007  223.960007  226.649994  222.580002  225.970001
           ZION   33.990002   33.990002   34.700001   33.840000   33.840000
           ZTS   176.869995  176.869995  178.449997  176.270004  176.580002

                      volume
Date
2015-09-29 A       2252400.0
           AAL     7478800.0
           AAPL  293461600.0
           ABBV   12842800.0
           ABT    12287500.0
...                      ...
2023-09-26 YUM     1500600.0
           ZBH     3610500.0
           ZBRA     355400.0
           ZION    1586100.0
           ZTS     1463200.0

[994088 rows x 6 columns]

In [4]:
dataframe.to_csv('sp500.csv')